{% extends "base.html" %}  
{% block content %} 

<div>
<h2> </h2>
</div>
Кто на конференции
<div>
<ul>
{% for member in members %}
<li> <a title="Просмотреть" href= {% url "conf:member_view" member.id %}> {{member.first_name}} {{member.member.first_name}} -- {{member.member.occupation}} -- {{member.member.role}} -- {{member.role}} 
</a></li> 
{% endfor %}
</ul>
</div>

<div>
<a  href= {% url 'conf:conf_view' conference_id %}> Назад </a>
</div>
{% include 'paginator.html' %} 
{% endblock content %} 