{% extends "base.html" %}  
{% block content %} 
<div>
<h3>Участник</h3>
</div>
<div>
<p>{{ member.member }}</p>
<p>{{ member.member.first_name }}</p>
<p>{{ member.member.role }}</p>


<div>
<form action="{% url 'conf:representer' %}" method="post">
   
    {% csrf_token %}
   
    {{ form.as_p }} 

<input type="hidden" name="reprs" value = "{{member.member.id}}">
<input type="submit" value=" Назначить представителем">
</form>
</div>

<div>
<a  href= {% url 'conf:chat_create' member.id %}> Написать </a></li>
</div>

<div>
<a  href= {% url 'conf:member_list' %}> Назад </a></li>
</div>

{% endblock content %} 