{% extends "base.html" %} 
{% load static from staticfiles %}   
{% block content %} 
<div>
<h2>Мои представители</h2>
</div>

<div>
<ul>
{% for representer in representers %}
<li> <a title="Просмотреть" href= {% url "conf:reprs_view" representer.representer.id %}>
    
    {% if representer.representer.photo %}
    <img class="img-circle" width=40 height=40 src= {{ representer.representer.photo.url }}>
    
    {% else %}
    
 <img class="img-circle" src= {% static 'img/cat.png' %} height=40 width=40>
    {% endif %}  

    {{representer.representer.first_name}} -- {{representer.representer.occupation}}  {{representer.representer.id}}
</a></li> 
 
{% endfor %}
</ul>
</div>

<div>
<a  href= {% url 'home' %}> Назад </a>
</div>
{% include 'paginator.html' %} 
{% endblock content %} 

