{% extends "base.html" %}  
{% block content %} 
{% load static from staticfiles %}   
<div>
<h3>Представитель</h3>
</div>
<div>

{% if representer.photo %}
    <img class="img-circle" width=40 height=40 src= {{ representer.photo.url }}>
 {% else %}
     <img class="img-circle" src= {% static 'img/cat.png' %} height=40 width=40>
 {% endif %}  

<p>{{ representer.first_name}}</p>
<p>{{ representer.last_name }}</p>
<p>{{ representer.role }}</p>



<div>
<a  href= {% url 'conf:reprs' %}> Назад </a></li>
</div>

{% endblock content %} 
